{{!-- footer  --}}
  <footer class="footer background1 text-center py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          @2022 Copyrigth || All right Reserved by Kardio Tech Solution
        </div>
      </div>
    </div>
  </footer>